/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;

}


/* Container styles */
.container {
    width: 100%;
    height: auto;
    background: white; /* Ensure consistency with body background color */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; /* Ensure items wrap to the next line when needed */
}

/* Image styles */
.image {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Ensure consistency with body background color */
}

/* Image img styles */
.image img {
    height: 60px;
    width: 60px;
    border: 10px solid black;
}
